.question-info{
    text-align: center;
    margin-top: 20px;

}

.answer-list {
    padding-left: 0;
}

.answer-list li{
    list-style: none;
    /*去掉小点点*/
    border-bottom: 1px solid #225599;
    padding-top: 7px;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 20%;
    /*圆角*/
}

.user-info{
    color: #230f37;
    font-size: 16px;
    line-height: 40px;
}

.user-info .username{
    margin-left: 15px;
}

.user-info .create-time{
    float:right;
}

.anwser-content{
    margin-left: 55px;
}